dinov3/
MaterialienPräsentation/
recordings_counted/
ma1.yml
sam3/add_missing_objects/
sam3/labelstudio/
sam3/outputs_raw/
sam3/outputs/
sam3/outputs_for_yolo/
sam3/outputs_raw_masks_compressed/
sam3/outputs_raw_masks_compressed_backup/
sam3/runs/
sam3/sam3/
sam3/testoutputs/
sam3/old_scripts
sam3/videos/
yolo/outputs_raw/
yolo/dataset/
yolo/gt_labels*/
yolo/dataset/
yolo/recordings*/
yolo/runs/
yolo/tide_output_plots/

*.jpg
*.png
*.mp4
*.pt
*.db
.ipynb_checkpoints/